.events-dropdown {
  position: relative;
}

.events-dropdown__circles {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.events-dropdown__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  transition: opacity 0.3s ease;

  &--warning {
    background-color: var(--status-warning);
  }

  &--success {
    background-color: var(--status-success);
  }

  &:hover {
    opacity: 0.8;
  }
}

.events-dropdown__num {
  @include button-small;
}

.events-dropdown__menu {
  position: absolute;
  top: 72px;
  left: 0;
  min-width: 188px;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  height: 0;
  transition:
    height 0.3s ease,
    opacity 0.3s ease;
  z-index: 1;
  box-shadow:
    0 1px 4px 0 rgba(12, 12, 13, 0.05),
    0 1px 4px 0 rgba(12, 12, 13, 0.1);
  border-radius: 10px;

  &--opened {
    opacity: 1;
    pointer-events: auto;
  }
}

.events-dropdown__menu-wrapper {
  padding: 16px;
  background-color: var(--white);
}

.events-dropdown__menu-content {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  height: 100%;
}

.events-dropdown__title {
  color: var(--secondary-dark);
  @include heading-b-h6;
}

.events-dropdown__menu-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  background-color: transparent;
  transition: opacity 0.3s ease;
  color: var(--secondary-dark);
  @include text-body;

  &:hover {
    opacity: 0.5;
  }

  &:last-child {
    color: var(--status-danger);
  }

  svg {
    display: block;
    width: 16px;
    height: 16px;
  }
}
