.events-menu__btns {
  margin-top: 40px;
}

.events-menu__btn {
  width: 100%;
  justify-content: center;

  &--percent {
    margin-top: 40px;
  }

  &--terminal {
    margin-top: 40px;
  }

  &--settings {
    margin-top: 8px;
  }

  &--chart {
    margin-top: 40px;
  }
}
