.events-circles {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.events-circles__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  transition: opacity 0.3s ease;

  &--warning {
    background-color: var(--status-warning);
  }

  &--success {
    background-color: var(--status-success);
  }

  &:hover {
    opacity: 0.8;
  }
}

.events-circles__num {
  @include button-small;
}
