.terminals-settings-modal__modal-content {
  margin-top: 16px;
}

.terminals-settings-modal__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}
