.accounts-table__cell {
  &--actions {
    display: flex;
    justify-content: flex-end;
    overflow: visible;

    .table-cell__content {
      overflow: visible;
    }
  }
}

.accounts-table__status {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  border: 1px solid;
  padding: 4px 8px;

  span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--status-success);
  }

  &--online {
    border-color: var(--status-success);

    span {
      background-color: var(--status-success);
    }

    .accounts-table__status-text {
      color: var(--status-success);
    }
  }

  &--offline {
    border-color: var(--status-danger);

    span {
      background-color: var(--status-danger);
    }

    .accounts-table__status-text {
      color: var(--status-danger);
    }
  }
}

.accounts-table__status-text {
  @include button-extra-small;
}
