.accounts-table__cell {
  &--actions {
    display: flex;
    justify-content: flex-end;
  }
}

.accounts-table__status {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  border: 1px solid;
  padding: 4px 8px;

  span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--status-success);
  }

  &--online {
    border-color: var(--status-success);

    span {
      background-color: var(--status-success);
    }

    .accounts-table__status-text {
      color: var(--status-success);
    }
  }

  &--offline {
    border-color: var(--status-danger);

    span {
      background-color: var(--status-danger);
    }

    .accounts-table__status-text {
      color: var(--status-danger);
    }
  }
}

.accounts-table__status-text {
  @include button-extra-small;
}

.accounts-table__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  width: 20px;
  height: 20px;

  span {
    display: block;
    width: 4px;
    height: 4px;
    background-color: var(--black);
    border-radius: 100%;
  }
}

.accounts-table__actions-btn {
  background-color: transparent;
}
