.main-broker {
  padding-top: 130px;
}

.main-broker__wrapper {
  align-items: flex-start;
}

.main-broker__content {
  @include col(4, 9);
}

.main-broker__title {
  @include heading-m-h3;
  margin-bottom: 20px;
}

.main-broker__item {
  margin-top: 40px;

  &:first-of-type {
    margin-top: 0;
  }
}

.broker-aside {
  position: relative;
  height: 100%;
  max-width: 280px;

  &:nth-of-type(1) {
    @include col(1, 3);
  }

  &:nth-of-type(2) {
    @include col(10, 12);
    margin-left: auto;
    width: 100%;
  }
}

.broker-aside__wrapper {
  position: sticky;
  position: -webkit-sticky;
  top: calc(var(--h) + 20px);
  height: calc(100vh - 130px);
}

.broker-aside__content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  overflow-y: auto;
  height: 100%;
}

.broker-aside__btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.main-broker__settings {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.main-broker__settings-item {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.main-broker__settings-title {
  @include heading-m-h6;
  color: var(--secondary-dark);
}

.main-broker__settings-input {
  button {
    pointer-events: none;
  }

  path {
    transition: fill 0.3s ease;
    fill: var(--secondary-light);
  }

  &.js-focus {
    path {
      fill: var(--primary-default);
    }
  }
}

.main-broker__settings-delete {
  margin-top: 12px;
}

.main-broker__settings-close {
  margin-top: 32px;
  align-self: flex-end;
}

.main-broker__table {
  margin-top: 15px;
}
