.calendar-table__cell {
  min-width: 136px;
}

.calendar-table__cell--event {
  min-width: 250px;

  .table-cell__content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  [data-tooltip],
  [data-tooltip-trigger] {
    width: 100%;
  }
}

.calendar-table__cell--time {
  min-width: 100px;
}

.calendar-table__cell--show-chart {
  min-width: 160px;
}

.calendar-table__date {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  color: var(--white);
  background-color: var(--primary-dark);
  @include heading-m-h6;
  margin-top: 8px;
}

.calendar-table__number {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  svg {
    width: 1em;
    height: 1em;
  }
}

.calendar-table__number--negative {
  color: var(--status-danger);
  > span {
    transform: rotate(180deg);
  }
}

.calendar-table__number--positive {
  color: var(--status-success);
}

.calendar-table__flag {
  max-width: 100%;
  height: 1em;
}

.calendar-table__pagination {
  margin-top: 24px;
}

.impact {
  display: flex;
  gap: 6px;
  height: 14px;
  color: var(--gray-300);
  svg {
    width: 1em;
    height: 1em;
  }
}

.impact--1 {
  svg:nth-child(1) {
    color: var(--status-success);
  }
}

.impact--2 {
  svg:nth-child(-n + 2) {
    color: var(--status-warning);
  }
}

.impact--3 {
  svg {
    color: var(--status-danger);
  }
}

.calendar-table__event {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 6px;
  > span {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}

.calendar-table__reaction {
  display: block;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transition: width 0.3s ease;
  }
  &:hover {
    &::after {
      right: 0;
      left: auto;
      width: 0%;
    }
  }
}

.calendar__table-reaction-item {
  display: flex;
  align-items: center;
  gap: 4px;
}
