.settings-users__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-users__search-input {
  max-width: 240px;
}

.settings-users__table-wrapper {
  margin-top: 28px;
}
