.calendar-table__cell {
  min-width: 126px;
}

.calendar-table__cell--event {
  width: 273px;
}

.calendar-table__cell--reaction {
  width: 146px;
}

.calendar-table__cell--show-chart {
  width: 220px;
}
