.t-chart {
  width: 100%;
  height: 100%;
}

.svg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.prt-value {
  pointer-events: none;
  font-size: 10px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--white);
  padding: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  column-gap: 4px;
}
