@mixin dark-mode-mixin {
  background-color: var(--secondary-dark);
  color: var(--white);

  .modal__content {
    background: var(--gray-800);

    .modal__title {
      color: var(--white);
    }

    .modal__close-line {
      background-color: var(--white);
    }
  }

  .sliding-modal__content {
    background: var(--secondary-dark);
    border-top: 1px solid var(--white);

    .sliding-modal__title {
      color: var(--white);
    }

    .sliding-modal__close-line {
      background-color: var(--white);
    }
  }

  .delete-modal {
    .delete-modal__delete-text {
      color: var(--white);
    }
  }

  .checkbox-input__text {
    color: var(--white);
  }

  .table-row {
    background-color: var(--gray-800);
    &--link {
      &:hover {
        background-color: var(--secondary-dark) !important;
      }
    }

    &--active {
      background-color: var(--secondary-dark) !important;
    }
  }

  .table-head .table-row {
    background-color: var(--primary-default);
  }

  .table-cell__modal-btn {
    path {
      fill: var(--white);
    }
  }

  .brokers-search {
    background-color: var(--gray-800);

    .brokers-search__title {
      color: var(--white);
    }
  }

  .header {
    background-color: var(--secondary-dark);
    border-bottom: 1px solid var(--gray-500);
  }

  .theme-btn {
    path {
      fill: var(--white);
    }
  }

  .header__link:before {
    background-color: var(--white);
  }

  .header__timezone {
    @include text-body;

    border: 1px solid var(--gray-700);
    color: var(--gray-600);
  }

  .accordion__main-btn {
    color: var(--white);
  }

  .input__type,
  input {
    background-color: var(--gray-800);
    color: var(--white);

    // border: 1px solid var(--gray-500);
    &::placeholder {
      color: var(--gray-500);
    }
  }
  .input__btn {
    path {
      fill: var(--white);
    }
  }

  .accordion__content {
    background-color: var(--gray-800);

    .company-name__item {
      background-color: var(--gray-800);
    }

    .company-name__text {
      color: var(--white);
    }

    .server-addresses__item {
      background-color: var(--gray-800);
    }

    .server-addresses__text {
      color: var(--white);
    }

    .websites__text-wrapper {
      background-color: var(--gray-700);
    }

    .websites__text {
      color: var(--white);
    }

    .reviews-item__rating-text {
      color: var(--white);
    }

    .reviews-item__btn {
      span {
        background-color: var(--white);
      }
    }

    .reviews-item__menu-btn {
      &:first-child {
        color: var(--secondary-dark);
      }
    }
  }

  .custom-select__selected {
    background-color: var(--gray-800);
  }

  .custom-select__text {
    color: var(--white);
  }

  .custom-select__list {
    background-color: var(--gray-800);
  }

  .custom-select__item {
    &:hover {
      background-color: var(--primary-dark);
    }
  }
  .custom-select__item-text {
    color: var(--white);
  }

  .tags-input__dropdown-item {
    background-color: var(--gray-800);
    color: var(--white);
  }

  .spreads__title {
    color: var(--white);
  }

  .type-of-account__info-title {
    color: var(--white);
  }

  .type-of-account__info-text {
    color: var(--white);
  }

  .type-of-account-table__schedule-title {
    color: var(--white);
  }

  .type-of-account-table__schedule-subtitle {
    color: var(--white);
  }

  .statistics-items {
    background-color: var(--gray-800);
  }

  .broker-type-accounts-item--new {
    background-color: var(--gray-800);
  }

  .e-loader {
    background-color: var(--gray-800);
  }

  .dropdown__items {
    background: var(--gray-800);
  }

  .dropdown__item {
    &:hover {
      background-color: var(--gray-700);
    }
  }

  .login__form {
    background-color: var(--gray-800);

    .login__title {
      color: var(--white);
    }
  }

  .password-reset__form {
    background-color: var(--gray-800);

    .password-reset__title {
      color: var(--white);
    }

    .password-reset__description {
      color: var(--white);
    }
  }

  .password-new__form {
    background-color: var(--gray-800);

    .password-new__title {
      color: var(--white);
    }

    .password-new__description {
      color: var(--white);
    }
  }

  .settings__title {
    color: var(--white);
  }

  .settings__nav-item {
    &:hover {
      .settings__nav-link {
        color: var(--secondary-dark);
      }
    }

    .router-link-active {
      color: var(--secondary-dark);
    }
  }

  .settings__nav-link {
    color: var(--white);
  }

  .settings-account__title {
    color: var(--white);
  }

  .settings-account__form {
    background-color: var(--gray-800);
  }

  .settings-account__delete {
    background-color: var(--gray-800);
  }

  .impact {
    color: var(--gray-600);
  }

  .theme__item {
    &--active {
      background-color: var(--secondary-dark);
    }
  }

  .sci {
    background-color: var(--gray-800);
  }

  .calendar-chart {
    background-color: var(--gray-800);
  }

  .tile-windows {
    background-color: var(--gray-800);
  }

  .navigation__dropdown-content {
    background-color: var(--secondary-dark);
    border-color: var(--white);
  }

  .navigation__link {
    &::before {
      background-color: var(--white);
    }

    &:hover {
      &::before {
        background-color: var(--white);
      }
    }
  }
}

.dark-mode {
  @include dark-mode-mixin;
}

@media (prefers-color-scheme: dark) {
  body:not(.light-mode) {
    @include dark-mode-mixin;
  }
}
