.dark-mode {
  background-color: var(--secondary-dark);
  color: var(--white);

  .modal__content {
    background: var(--gray-700);

    .modal__title {
      color: var(--white);
    }

    .modal__close-line {
      background-color: var(--white);
    }
  }

  .sliding-modal__content {
    background: var(--secondary-dark);
    border-top: 1px solid var(--white);

    .sliding-modal__title {
      color: var(--white);
    }

    .sliding-modal__close-line {
      background-color: var(--white);
    }
  }

  .checkbox-input__text {
    color: var(--white);
  }

  .table-row {
    background-color: var(--gray-700);
  }

  .table-head .table-row {
    background-color: var(--primary-default);
  }

  .table-cell__modal-btn {
    path {
      fill: var(--white);
    }
  }

  .table-cell {
    path {
      fill: var(--white);
    }
  }

  .brokers-search {
    background-color: var(--gray-700);

    .brokers-search__title {
      color: var(--white);
    }
  }

  .header {
    background-color: var(--secondary-dark);
    border-bottom: 1px solid var(--gray-500);
  }

  .header__theme-btn {
    path {
      fill: var(--white);
    }
  }

  .accordion__main-btn {
    color: var(--white);
  }

  .input__type,
  input {
    background-color: var(--gray-700);
    color: var(--white);
    &::placeholder {
      color: var(--gray-500);
    }
  }

  .accordion__content {
    background-color: var(--gray-700);

    .company-name__item {
      background-color: var(--gray-700);
    }

    .company-name__text {
      color: var(--white);
    }

    .server-addresses__item {
      background-color: var(--gray-700);
    }

    .server-addresses__text {
      color: var(--white);
    }

    .websites__text-wrapper {
      background-color: var(--gray-700);
    }

    .websites__text {
      color: var(--white);
    }

    .reviews-item__rating-text {
      color: var(--white);
    }

    .reviews-item__btn {
      span {
        background-color: var(--white);
      }
    }

    .reviews-item__menu-btn {
      &:first-child {
        color: var(--secondary-dark);
      }
    }
  }

  .custom-select__selected {
    background-color: var(--gray-700);
  }

  .custom-select__text {
    color: var(--white);
  }

  .custom-select__list {
    background-color: var(--gray-700);
  }

  .custom-select__item-text {
    color: var(--white);
  }

  .tags-input__dropdown-item {
    background-color: var(--gray-700);
    color: var(--white);
  }

  .spreads__title {
    color: var(--white);
  }
}
