.input-selection {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;

  &--radio {
    .input-selection__checkmark {
      position: relative;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: var(--white);
      border: 1px solid var(--secondary-light);

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        pointer-events: none;
        opacity: 0;
        border-radius: 50%;
        transition:
          transform 0.3s ease-in,
          opacity 0.3s ease;
      }

      &::before {
        transform: translate(-50%, -50%);
        background-color: var(--primary-default);
        width: 100%;
        height: 100%;
      }

      &::after {
        transform: translate(-50%, -50%) scale(0);
        width: 6px;
        height: 6px;
        background-color: var(--white);
      }
    }

    .input-selection__type {
      &:checked {
        ~ .input-selection__checkmark {
          border: none;

          &::before {
            width: 100%;
            height: 100%;
            opacity: 1;
          }

          &::after {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
            animation: radio-tick 0.4s ease-in-out;
          }
        }
      }
    }
  }

  &--checkbox {
    .input-selection__checkmark {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      border: 1px solid var(--secondary-light);

      svg {
        display: block;
        pointer-events: none;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.3s ease;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        background-color: var(--primary-default);
        width: 0;
        height: 0;
        border-radius: 2px;
      }
    }

    .input-selection__type {
      &:checked {
        ~ .input-selection__checkmark {
          border: none;

          svg {
            opacity: 1;
          }

          &::before {
            animation: checkbox-tick 0.3s ease-in;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  &--disabled {
    opacity: 0.55;

    .input-selection__checkmark {
      background-color: var(--gray-200);

      &::after {
        background-color: var(--primary-light);
      }
    }
  }
}

.input-selection__type {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.input-selection__text {
  @include text-body;
  color: var(--gray-800);
}

@keyframes checkbox-tick {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes radio-tick {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.6);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
