.settings-dropdown__items {
  width: fit-content;
  min-width: 188px;
}

.settings-dropdown__item {
  &--red {
    color: var(--status-danger);
  }
}

.settings-dropdown__btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  color: inherit;
}

.settings-dropdown__icon {
  width: 16px;
  height: 16px;
  display: block;

  path {
    fill: currentColor;
  }
}
