.table-wrapper {
  border-radius: 10px;
  overflow-x: scroll;
}

.table {
  width: fit-content;

  .table-head {
    background-color: var(--primary-default);
    color: var(--white);

    .table-row {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: auto;
    }

    .table-cell {
      text-align: start;
      min-width: 180px;
      padding: 20px 8px;
      padding-right: 30px;
    }
  }

  .table-body {
    .table-row {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: auto;
      margin-top: 20px;
    }

    .table-cell {
      text-align: start;
      min-width: 180px;
      max-width: 360px;
      padding: 20px 8px;
      padding-right: 30px;
      background-color: var(--white);
    }
  }
}
