.table__wrapper {
  border-radius: 10px;
  overflow-x: scroll;
}

.table {
  width: fit-content;

  thead {
    tr {
      display: flex;
      background-color: var(--primary-default);
      color: var(--white);
    }

    th {
      flex: 1;
      padding: 20px 8px;
      padding-right: 30px;
      text-align: left;
      vertical-align: middle;
    }
  }

  tbody {
    tr {
      display: flex;
      border-top: 20px solid transparent;
    }

    td {
      flex: 1;
      text-align: start;
      vertical-align: middle;
      padding: 20px 8px;
      padding-right: 30px;
      min-width: 180px;
      max-width: 360px;
      background-color: var(--white);
    }
  }
}

.grid-table-container {
  overflow: hidden;
}
.grid-table-wrapper {
  overflow-x: auto;
  border-radius: 10px;
}
.grid-table {
  width: fit-content;
}
.grid-head {
  background-color: var(--primary-default);
  color: var(--white);

  .grid-tr {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
  }
  .grid-th {
    min-width: 180px;
    padding: 20px 8px;
    padding-right: 30px;
  }
}

.grid-body {
  .grid-tr {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    margin-top: 20px;
  }

  .grid-td {
    min-width: 180px;
    max-width: 360px;
    padding: 20px 8px;
    padding-right: 30px;
    background-color: var(--white);
  }
}
