.trader {
  padding-top: 90px;
  height: 100vh;
  overflow: hidden;
}

.trader__wrapper {
  display: flex;
  height: calc(100vh - 90px);
}

.trader__side-content {
  display: flex;
  flex-direction: column;
  width: 236px;
  height: 100%;
  padding: 0 12px 12px;
}

.trader__list {
  display: block;
  border-radius: 12px;
  padding: 16px;
  overflow-y: auto;
  background-color: var(--white);

  &:first-child {
    height: 35%;
  }

  &:last-child {
    margin-top: 12px;
    height: 65%;
  }
}

.trader__content {
  flex: 1;
  overflow-y: auto;
  height: 100vh;
}
