.password-reset {
  height: 100vh;
  width: 100%;
}

.password-reset__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.password-reset__logo-wrapper {
  position: absolute;
  top: 37px;
  display: block;
  width: 40px;
  height: 40px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
}

.password-reset__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  row-gap: 20px;
  padding: 32px 20px;
  max-width: 352px;
  width: 100%;
}

.password-reset__title {
  @include heading-m-h4;
  color: var(--black);
}

.password-reset__description {
  @include text-link;
  line-height: 1.25em;
  color: var(--black);
}

.password-reset__input {
  margin-top: 6px;
}

.password-reset__items-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.password-reset__input-title {
  @include text-link;
  line-height: 1.25em;
  color: var(--black);
}

.password-reset__btn-wrapper {
  display: flex;
  width: 100%;
  column-gap: 10px;
}

.password-reset__btn {
  justify-content: center;
  width: 100%;
}
