.address-company__modal-input {
  margin-top: 16px;
}

.address-company__inputs-list {
  position: relative;
}

.address-company__input-wrapper {
  position: relative;
  margin-top: 12px;

  &:hover {
    .address-company__remove {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:first-of-type {
    margin-top: 0;
  }
}

.address-company__input {
  .input__type {
    height: 144px;
  }
}

.address-company__remove {
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
}

.address-company__buttons {
  display: flex;
  align-items: center;
  column-gap: 8px;
  justify-content: flex-end;
  margin-top: 32px;

  .button {
    &:first-child {
      background-color: var(--secondary-default);
    }
  }
}
