.address-company__modal-input {
  margin-top: 16px;
}

.address-company__input {
  .input__type {
    height: 144px;
  }
}

.address-company__buttons {
  display: flex;
  align-items: center;
  column-gap: 8px;
  justify-content: flex-end;
  margin-top: 32px;

  .button {
    &:first-child {
      background-color: var(--secondary-default);
    }
  }
}
